.main_title{
    width: 8.75vw;
    height: 2.08vw;
    font-weight: 400;
    font-size: 1.30vw;
    line-height: 2.08vw;
    color: #C68DFE;
    }
    
    .block1{
        margin-top: 2.08vw;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    .logo{
        width: 8.49vw;
        height: 1.56vw;
    }

.main_title2{
    width: 7.50vw;
font-weight: 400;
font-size: 1.30vw;
line-height: 2.08vw;
color: #C68DFE;
}

.active {
    /* font-weight: bold; */
    text-decoration: underline;
}
.content2 {
    margin-top: 1.04vw;
    padding: 0.52vw;
}
#applicantsContent, #completedContent {
    display: none;
}

.switch{
width: 7.50vw;
font-weight: 400;
font-size: 1.30vw;
line-height: 2.08vw;
color: #C68DFE;
background-color: #181C22;
border: none;
margin-right: 1.56vw;
}

.search-input {
    border: none;
    outline: none;
    width: 44.95vw;
padding: 0.52vw 4.69vw;
font-family: 'Unbounded';
font-style: normal;
font-weight: 400;
font-size: 1.25vw;
line-height: 1.56vw;
border: 0.05vw solid #C68DFE;
border-radius: 0.52vw;
margin-bottom: 2.60vw;
background-color: #181C22;
color: #fff;
}
input::placeholder {
font-weight: 400;
font-size: 1.04vw;
line-height: 1.56vw;
color: rgba(255, 255, 255, 0.68);
}
.search{
    width: 1.82vw;
    height: 1.82vw;
    position: absolute;
    margin-top: 0.52vw;
    margin-left: 0.52vw;

}

.my_friend{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.51vw;
}
.name_my_friend{
    display: flex;
    flex-direction: column;
    margin-left: 1.77vw;
    gap: 0.52vw;
}
.friend_name{
font-weight: 400;
font-size: 1.25vw;
line-height: 1.56vw;
color: #FFFFFF;
}
.quote_friend{
width: 26.67vw;
font-weight: 400;
font-size: 1.04vw;
line-height: 1.30vw;
color: rgba(255, 255, 255, 0.3);
}
.icon_mess{
    width: 2.03vw;
    height: 1.93vw;
    margin-left: 20.83vw;
}

.avatar_mobile, .add_post, .navbar{
    display: none;
}
.avatar_friend{
    width: 4.17vw;
    height: 4.17vw;
}
/* -----------------------------------media----------------------------- */
@media ((min-width: 320px) and (max-width: 766px)){
.sidebar{
    display: none;
}
.content{
    margin-left: -1vw;

}
.avatar_mobile{
    /* display: block;
    width: 10.63vw;
    height: 10.63vw; */
    display: none;
}
.block1{
    display: flex;
    align-items: center;
}
.main_title{
    margin-left: -15vw;
font-weight: 400;
font-size: 4.69vw;
line-height: 5.94vw;
color: #C68DFE;
}
.add_post{
display: block;
width: 10.63vw;
height: 10.63vw;
}
.logo,.block2,.friends{
    display: none;
}

.navbar {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #181C22;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 18.75vw;
border-top: 0.31vw solid #C68DFE;
}



.nav-item img {
    width: 9.38vw;
    height: 9.38vw;
}

.nav-item {
    color: white;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav-item:hover {
    opacity: 0.7;
}
.switch{
    font-size: 13px;
    margin-right: 16.56vw;
}
.search-input{
    width: 65.95vw;
    padding: 2.52vw 2.69vw;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    margin-left: 15vw;
    line-height: 1.56vw;
    border: 0.05vw solid #C68DFE;
    border-radius: 1.52vw;
    margin-bottom: 3.60vw;
    background-color: #181C22;
    color: #fff;
    margin-top: 3.13vw;
   font-size: 3.25vw; 

}
.search-input::placeholder{
   font-size: 3.25vw; 

}
.avatar_friend{
    width: 13.44vw;
    height: 13.44vw;
}
.frr{
    margin-left: 5vw;
    margin-bottom: 6.25vw;
}
.zzz{
    margin-bottom: 6.25vw;
}
.content2 {
    margin-top: 5.04vw;
    padding: 0.52vw;
}
.friend_name{
    width: 62.50vw;
font-weight: 300;
font-size: 3.75vw;
line-height: 5.31vw;
color: #FFFFFF;
}
.quote_friend{
    margin-top: 3.13vw;
    font-size: 3.04vw;
}
.icon_mess {
    width: 8.75vw;
    height: 9.38vw;
    margin-left: 5.83vw;
}

}