body{
    font-family: 'Unbounded';
}
.form-container {

    padding: 1.04vw;
    border-radius: 0.26vw;

    max-width: 26.04vw;

}
h2 {
    text-align: center;
    margin-bottom: 1.04vw;
}
label {
    margin-top: 1.04vw;
    display: block;
   

font-style: normal;
font-weight: 400;
font-size: 1.04vw;
line-height: 1.30vw;
color: #865DF8;
}
textarea {
width: 38.44vw;
height: 9.64vw;

background: #F3EFFE;
border-radius: 1.56vw;

    margin-bottom: 0.78vw;
    padding: 1.04vw;
font-size: 1.04vw;
   border: none;
}
select {
border: none;
width: 21.25vw;
height: 2.86vw;
font-size: 1.04vw;
line-height: 1.30vw;
padding: 0.52vw;
color: #000000;
background: #F3EFFE;
border-radius: 1.56vw;
}
option{
    font-size: 0.68vw;
    border-radius: 1.56vw;
}
 


.option-list {
    width: 22.40vw;
    display: none;
    position: absolute;
    background-color: #F4F4F4;
    border: 0.05vw solid #ccc;
    border-radius: 1.30vw;
    /* width: 100%; */
    z-index: 1000;
    font-size: 1.04vw;
    padding: 1.04vw;
}

.option-item {
 
    padding: 0.52vw;
    cursor: pointer;
    color: black;
}

.option-item:hover {
    background-color: #F4F4F4;
}
.file-input {
    margin-bottom: 0.78vw;
}
.upload-btn{
    background: none;

    border: none;
    cursor: pointer;
    border-radius: 5.21vw;
}
.but_post {
width: 19.38vw;
height: 2.86vw;


background: #865DF8;
border-radius: 1.56vw;
font-size: 1.04vw;
    color: white;
    padding: 0.52vw;
    border: none;
    cursor: pointer;
    font-family: 'Unbounded';
 margin-top: 2.60vw;
}
.but_post:hover {
    background-color: #754ce6;
}
.in_name_category{
    margin-top: 1.56vw;
    width: 31.25vw;
    height: 1.56vw;
    background: #F3EFFE;
    border-radius: 1.56vw;
        margin-bottom: 0.78vw;
        padding: 0.52vw;
    font-size: 1.04vw;
       border: none;
    }
.pr_edit{
   width: 8.33vw;
   height: 8.33vw;
    border: none;
    border-radius: 5.21vw;
}




.menu_mob{
    display: none;
}

@media (max-width:320px) {
    .menu_mob{
        display: block;
    }.content{
        margin-left: 0.05vw;
    }
    .sidebar{
        display: none;
    }
    .popup{
        display: none;
    }
    .block5{
        display: none;
    }
    
    .menu_mob{
        display: block;
    width: 13vw;
    height: 5vw;
    margin-top: -6vw;
    margin-left: 1vw;
    
    
    }
    .name_cart{
        margin-left:65vw;
            width:30.25vw;
            height:4.25vw;
            background: #865DF8;
            border-radius: 5vw;
            font-weight: 300;
            font-size: 3vw;
            line-height: 1.30vw;
            color: #FFFFFF;
            align-items: center;
            
        }
    
        .file-input {
            margin-bottom: 0.78vw;
        }
        .upload-btn{
 margin-left: 35vw;
        background: none;
            border: none;
            cursor: pointer;
           
        }
        .but_post {
        width: 19.38vw;
        height: 2.86vw;
        
        
        background: #865DF8;
        border-radius: 1.56vw;
        font-size: 1.04vw;
            color: white;
            padding: 0.52vw;
            border: none;
            cursor: pointer;
            font-family: 'Unbounded';
         margin-top: 2.60vw;
        }
        .but_post:hover {
            background-color: #754ce6;
        }
        textarea {
            width: 92vw;
            height: 20vw;
            
            background: #F3EFFE;
            border-radius: 1.56vw;
            
                margin-bottom: 0.78vw;
                padding: 1.04vw;
            font-size: 3vw;
               border: none;
            }
        .in_name_category{
            margin-top: 1vw;
            width: 92vw;
            height: 3vw;
            background: #F3EFFE;
            border-radius: 4vw;
                margin-bottom: 4vw;
                padding: 2vw;
            font-size: 3vw;
               border: none;
            }
            label{
                font-size: 3vw;
            }
        .pr_edit{
           width: 20.31vw;
           height:20.31vw;
            border: none;
            border-radius: 30vw;
        }
        .form-container {
margin-top: 10vw;
            padding: 1.04vw;
            border-radius: 0.26vw;
        
          
        
        }
 
    
    
                }