body {
    margin: 0;
    font-family: "Unbounded", serif;
    transition: background-color 0.3s ease;
}
.container {
    display: flex;
}
h1,h2,h3,p,a
{
    font-family: "Unbounded", serif;

}
.content {
    margin-left: 23.44vw;
    padding: 1.04vw;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 18.23vw;
    height: 100%;
    background-color: #865DF8;
    padding: 1.04vw;
    border-radius:  0vw 1.56vw 0vw 1.56vw  ;
    box-shadow: 0.10vw 0 0.26vw rgba(0,0,0,0.1);
}

.sidebar a {
    display: block;
    padding: 0.52vw 0;
    color: #ffffff;
    text-decoration: none;
}

.sidebar a:hover {
   
}






.avatar_block_nav{
width: 11.20vw;
height: 11.20vw;
}
.links_nav{
    margin-top: 3.65vw;
}
.logo{
  
width: 11.20vw;
height: 1.51vw;


    margin-bottom: 4.17vw;
    margin-top: -1.60vw;

}
.links_page, .exit_link_nav{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.77vw;
    margin-left: 2.60vw;
}
.icon_link{
    padding-right: 1.41vw;
width: 1.82vw;
height: 1.72vw;
}
.name_link, .exit_link{
width: 9.22vw;
font-weight: 400;
font-size: 1.04vw;
line-height: 1.30vw;
color: #FFFFFF;
}

.exit_link_nav{
    margin-top: 7.21vw;
}



.bckgr{
    position: relative;
    z-index: -30;
}
.backgr_main{
    /* position: absolute; */
    position: fixed;
    margin-left: 13.02vw;
    margin-top: -10.42vw;
    width: 51.72vw;
    height: 51.04vw;
}
.bckgr2{
    position: relative;
    z-index: -30;
}
.backgr_main2{
    /* position: absolute; */
    position: fixed;

    margin-top: 31.25vw;
    width: 51.72vw;
    height: 51.04vw;
}


.name_cart{
margin-left: 59.90vw;
margin-bottom: 2.60vw;
margin-top: 2.08vw;
        display: flex;
        justify-content: center;
    width: 10.42vw;
    height: 2.08vw;
    background: #865DF8;
    border-radius: 1.56vw;
    font-weight: 300;
    font-size: 1.04vw;
    line-height: 1.30vw;
    color: #FFFFFF;
    align-items: center;
    
}

.name_cart p
{
 padding: 0.52vw 0.26vw;
}

