.bckgr{
    position: relative;
    z-index: -30;
}
.backgr_main{
    /* position: absolute; */
    position: fixed;
    margin-left: 41.67vw;
    margin-top: 15.63vw;
    width: 51.72vw;
    height: 51.04vw;
}


.main_title{
    width: 8.75vw;
    height: 2.08vw;
    font-weight: 400;
    font-size: 1.67vw;
    line-height: 2.08vw;
    color: #C68DFE;
}
.block1{
    margin-left: 30vw;
    margin-top: 2.08vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.back_arrow{
    width: 1.20vw;
    height: 1.98vw;
}
.logo{
    width: 8.49vw;
    height: 1.56vw;
}
.name_friend_chat{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.56vw;
    font-weight: 400;
font-size: 1.04vw;
line-height: 1.56vw;
color: #865DF8;
}

.avatar_friend_chat{
width: 3.39vw;
height: 3.39vw;
margin-left: -26.04vw;
}

.container_messages{
  position: fixed;
  /* margin-top: 40.63vw; */
  bottom: 0;
}
.enter_message{
width: 61.09vw;

border: 0.010vw solid #865DF8;
border-radius: 1.04vw;

font-weight: 400;
font-size: 1.04vw;
line-height: 1.30vw;

padding: 1.25vw 1.35vw;
}
.icon_enter{
    cursor: pointer;
position: absolute;
margin-left: -3.65vw;
margin-top: 0.52vw;
}
/* ---------------------------------------------- */
.container_window{
    /* display: flex;
    justify-content: space-between; */
    padding-right: 6.77vw;
}

.friend_messages{
    margin-bottom: 1.04vw;
}
.msg{
width: 31.46vw;
background: #FFFFFF;
border-radius: 0.52vw 0.52vw 0.52vw 0px;
padding: 0.94vw 1.88vw 0.78vw 0.99vw;
margin-top: 1.04vw;
}
.msg_content_friend{
font-weight: 400;
font-size: 1.04vw;
line-height: 1.30vw;
color: #000000;
}
.time{
    width: 4.17vw;
font-weight: 400;
font-size: 0.83vw;
line-height: 1.30vw;
color: #000000;
margin-left: 29.17vw;
}

.my_messages{
    display: flex;
    align-items: flex-end;
    flex-direction: column;
gap: 1.04vw;
}

.my_msg{
width: 31.46vw;
border-radius: 0.52vw 0.52vw 0px 0.52vw;
background: #865DF8;
padding: 0.94vw 1.88vw 0.78vw 0.99vw;

}
.msg_content_my{
font-weight: 400;
font-size: 1.04vw;
line-height: 1.30vw;
color: #FFFFFF;
}
.time_my{
font-weight: 400;
font-size: 0.83vw;
line-height: 1.30vw;
    color: #FFFFFF;
margin-left: 29.17vw;

}

.avatar_mobile, .add_post, .navbar{
    display: none;
}

.icon_enter {
margin-top: 1vw;
margin-left: -3vw;
}
/* -----------------------------------media----------------------------- */
@media ((min-width: 320px) and (max-width: 766px)){
.sidebar{
    display: none;
}
.content{
    margin-left: -1vw;

}
.avatar_mobile{
    display: block;
    width: 10.63vw;
    height: 10.63vw;
}
.block1{
    display: flex;
    align-items: center;
}
.main_title{
    margin-left: -15vw;
font-weight: 400;
font-size: 4.69vw;
line-height: 5.94vw;
color: #865DF8;
}
.add_post{
display: block;
width: 10.63vw;
height: 10.63vw;
}
.logo,.block2,.friends{
    display: none;
}

.navbar {
    display: block;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #181C22;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 18.75vw;
border-top: 0.31vw solid #865DF8;
}



.nav-item img {
    width: 9.38vw;
    height: 9.38vw;
}

.nav-item {
    color: white;
    text-align: center;
    text-decoration: none;
    transition: opacity 0.3s;
}

.nav-item:hover {
    opacity: 0.7;
}
.back_arrow {
    width: 3.20vw;
    height: 6.98vw;
}
.avatar_friend_chat {
    width: 36px;
    height: 36px;
    margin-left: -26.04vw;
}
.name_friend_chat {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.56vw;
    font-weight: 400;
    font-size: 3.04vw;
    line-height: 1.56vw;
    color: #865DF8;
}
.msg {
    width: 215px;
    background: #FFFFFF;
    border-radius: 1.52vw 1.52vw 1.52vw 0px;
    padding: 0.94vw 1.88vw 0.78vw 0.99vw;
    margin-top: 1.04vw;
}
.msg_content_friend {
    font-weight: 400;
    font-size: 3.04vw;
    line-height: 4.30vw;
    color: #000000;
}
.time {
    width: 4.17vw;
    font-weight: 400;
    font-size: 1.83vw;
    line-height: 1.30vw;
    color: #000000;
    margin-left: 61.17vw;
}
.my_msg {
    width: 215px;
    border-radius: 1.52vw 1.52vw 0px 1.52vw;
    background: #865DF8;
    padding: 0.94vw 1.88vw 0.78vw 0.99vw;
}
.msg_content_my {
    font-weight: 400;
    font-size: 3.04vw;
    line-height: 4.30vw;
    color: #FFFFFF;
}
.time_my {
    font-weight: 400;
    font-size: 1.83vw;
    line-height: 1.30vw;
    color: #FFFFFF;
    margin-left: 61.17vw;
}
.container_messages {
    position: fixed;
    margin-top: 149.63vw;
}
.enter_message {
    padding: 2.25vw 1.35vw;
width: 300px;

border-radius: 20px;
font-weight: 400;
font-size: 12px;
line-height: 15px;

}
.enter_message::placeholder {

}

.icon_enter {
    width: 27px;
    height: 28px;
    cursor: pointer;
    position: absolute;
    margin-left: -9.65vw;
    margin-top: 0.52vw;
}


.name_friend_chat{
    margin-top: 5vw;
}

}